<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sitemap\Model\Sitemap">
        <plugin name="GardenLawn_Seo_Plugin_Sitemap_Model_Sitemap" type="GardenLawn\Seo\Plugin\Sitemap\Model\Sitemap" sortOrder="10"/>
    </type>
</config>
